.venv/
.idea/
__pycache__
/project_videos/code/downloads/
.env
/data/raw/channel_metadata.json
/data/raw/complete_channel_list_classified.json
/data/raw/metadata_all_videos.jsonl
/outputs/sample_description/graphs/
/outputs/sample_description/
/youtube_data.egg-info/
/data/transcripts/all_transcripts_backup.csv
/scripts/old/transcript_analysis/id_files_done/
/data/raw/channel_metadata_total.json
/data/raw/video_metadata_total.jsonl
/data/raw/video_metadata_detailed_total.json
/outputs/activity_over_time/
/src/youtube_code/outcome_analysis/gaa.csv
/outputs/llm/gemini/results/
/outputs/llm/gemini/classification_41/
/outputs/llm/gemini/classification_42/
/outputs/llm/gemini/results_merged/all_results_merged_411.xlsx
/scripts/downloads/
/data/samples/**/*.json
/data/samples/**/*.csv
/outputs/llm/gemini/nahost_descriptive_figures/
/data/channel_lists/party_identification/channel_identification/
/src/youtube_code/transcript_analysis/id_files_done/
/data/raw/videos_total.json
/data/transcripts/all_transcripts.csv
/data/transcripts/all_transcripts_2.csv
/data/transcripts/all_transcripts_segments.csv
/data/raw/video_metadata_detailed_total.jsonl
/data/samples/russia/videos_wo_shorts_description.jsonl
/data/samples/russia/fdescription_training_sample_42.xlsx
