political_youtube/JSON[[:space:]]Files/videos/videos_total.json filter=lfs diff=lfs merge=lfs -text
political_youtube/Transcript[[:space:]]files filter=lfs diff=lfs merge=lfs -text
project_transcripts/Transcript[[:space:]]files filter=lfs diff=lfs merge=lfs -text
