"political_youtube/JSON[[:space:]]Files/videos/videos_total.json" filter=lfs diff=lfs merge=lfs -text
"political_youtube/JSON[[:space:]]Files/video_files/videos_total.json" filter=lfs diff=lfs merge=lfs -text
"political_youtube/JSON[[:space:]]Files/ident_1803/large_german_channels/video_files/metadata_all_videos_100k_channels_keywords.json" filter=lfs diff=lfs merge=lfs -text

# Erfasst alle CSV-Dateien in allen Unterordnern von "Transcript files"
"political_youtube/Transcript[[:space:]]files/**/*.csv" filter=lfs diff=lfs merge=lfs -text
"project_transcripts/Transcript[[:space:]]files/**/*.csv" filter=lfs diff=lfs merge=lfs -text

"political_youtube/analysis/comment_analysis/comment_data.csv" filter=lfs diff=lfs merge=lfs -text
"political_youtube/analysis/comment_analysis/complete_dataset.csv" filter=lfs diff=lfs merge=lfs -text
"political_youtube/conflict_over_time/channel_identification/large_german_channels/video_files/*" filter=lfs diff=lfs merge=lfs -text