pandas
google-api-python-client
python-dateutil
youtube_transcript_api
langdetect
yt_dlp
openpyxl
python-dotenv
matplotlib
seaborn
matplotlib-venn
numpy
transformers
sklearn
google.genai

#torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu130
